/* presentation-only things */
@import url('https://cdn.staticdelivr.com/gfonts/css2?family=VT323&display=swap');

@keyframes cursor-blink {
    0% {
        opacity: 1;
    };
    50% {
        opacity: 0;
    }
}

/* base style changes */
:root {
    --background: #2e2a26;
    --foreground: hsl(44, 91%, 49%);
    --accent: #edb00b;
    --font-size: 1.5rem;
}

body {
    font-family: VT323, monospace;
}
code, kbd {
    font-family: VT323, monospace !important;
}

footer > div.footer__inner > div.copyright > span {
    display: none !important;
}

div.logo::before {
    content: '%\00a0';
}

div.logo::after {
    content: "";
    background: var(--background);
    height: 1.5rem;
    width: .6rem;
    animation: cursor-blink 1.5s steps(1) infinite;
}